<!--Image Upload -->
<nav  class="navbar navbar-default navbar-top" id="mapnavigation">
  <div class="container-fluid">
    <ul class="nav navbar-nav navbar-left" id="maplinks">
      <li><a href="#UploadImages">Upload Images</a></li>
      <li><a href="#ViewImages">View Uploaded Images</a></li>
    </ul>
  </div>
</nav>

<div class="imageupload">
  <div class="container-fluid">
  <div class="imageuploadform">
    <div class="container-fluid">
      <div class="row">
        <form id="uploadForm2" enctype="multipart/form-data">
             <div id="uploadstatus"></div>
             <div class="col-sm-6">
               <p> <input type="file" name="userPhoto" multiple id="userphoto" /> </p>
             </div>
             <div class="col-sm-6">
               <p> <input type="submit" value="Upload Image" name="submit" id="submitbutton"></p>
             </div>
          <span id = "status"></span>
        </form>
      </div>
     </div>
  </div>
  <!--finish of uploading forms-->

  <!--Start of Drag and drop form -->
  <div id="dragdrop">
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-12">
          <form id="uploadForm" enctype="multipart/form-data" action="/photos" method="post" class="dropzone">
            <input type="file" name="userphoto" id="userphotoid"> Click here </input> <input type="submit" value="Upload Image" name="submit">
            Drag and drop images here.
          </form>
        </div>
      </div>
    </div>
  </div>
  <button class="button" id="nextpagebutton"><span> > </span></button>
  <button class="button" id="beforepagebutton"><span> < </span></button>
  <!--Start of Google Maps -->
  <div id="googlemapcontainer">
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-12">
          <div id="googleMap"style="height:380px;"></div>
          <form id="mapform">
            <input type="submit" value="Save Map" id="savemap">
          </form>
        </div>
      </div>
    </div>
  </div>
  </div>
</div>
